# Premake
/.premake/*
!/.premake/getPreMake.sh
!/.premake/getPreMake.dat

# Project OutPuts
/build
!/build/.gitkeep

# Vendor
/vendor/*/*
# Vendor Exception
!/vendor/*/get.sh
!/vendor/*/get.dat
!/vendor/*/premake.lua
# Vendor Exception - GLAD
!/vendor/glad/README.md